.container {
  width: 100%;
  overflow: hidden;
  ul {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
    li {
      margin: 5px;
      white-space: nowrap;
      a {
        display: block;
        color: #000;
        padding: 5px 0;
        &.active {
          color: red;
          border-bottom: 2px solid red;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
