// :host {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   z-index: 999;
// }
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    img {
      display: block;
      width: 1.5rem;      
    }
  }
}
