.main {
  // flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 3rem);
}


.ad-container {
  padding: 0 0.5rem;
  background-color: #fff;
  .ad-image {
    display: block;
    width: 100%;
    object-fit: contain;
  }
}
