:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}
.active {
  background-color: red;
}
.ad-container {
  padding: 0 0.5rem;
  background-color: #fff;
  .ad-image {
    display: block;
    width: 100%;
    object-fit: contain;
  }
}
